LoadPlugin varnish
<Plugin "varnish">
  <Instance>
     CollectBackend     true
     CollectCache       true
     CollectConnections true
     CollectFetch       true
     CollectObjects     true
     CollectSession     true
     CollectSHM         true
     CollectTotals      true
     CollectWorkers     true
  </Instance>
</Plugin>
